.button {
  margin: 1em;
}

.signup-container {
  grid-template-areas:
    'buttons'
    'forms';
  grid-template-rows: auto !important;
}

.buttons {
  grid-area: buttons;
  margin: 0 auto;
  margin-top: 2em;
}

.form-container {
  grid-area: forms;
}

.signin,
.signup {
  margin: 0 auto 2em;
  padding: 2em;
  border-radius: 3px;
  position: top;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.submit-btn {
  margin-top: 1em;
}
