.navlink {
  color: white !important;
  text-decoration: none;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
}

.navlink:hover {
  color: antiquewhite;
  text-decoration: none;
}

.bar {
  height: 5em;
}

.appbar-container {
  display: flex;
}

.navitem {
  margin: 2em;
}
