.file-upload-container {
  grid-template-areas:
    'upload'
    'image';
}

.editor-container {
  grid-template-areas:
    'image sidebar'
    'button sidebar'
    'slider sidebar';
}

.sidebar-container {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-right: 0;
  height: 100vh;
  background-color: hsl(286, 26%, 72%);
  border-left: 1px solid hsl(286, 26%, 55%);
  display: grid;
  grid-template-areas:
    'edit'
    'draw'
    'empty';
}

.edit-sidebar {
  grid-area: edit;
}

.draw-sidebar {
  grid-area: draw;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-right: 0;
}

.main-img-container {
  grid-area: image;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  max-height: 80vh;
}

.main-img {
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.sidebar-item {
  background-color: hsl(286, 26%, 72%);
  cursor: pointer;
  border: none;
  outline: none;
  height: fit-content;
  padding: 1em;
  margin-right: 0;
  text-align: left;
  position: relative;
  transition: background-color 150ms;
}

.sidebar-item:hover,
.sidebar-item:focus {
  background-color: hsl(286, 26%, 65%);
}

.sidebar-item.active {
  background-color: hsl(286, 26%, 60%);
}

.sidebar-item::after {
  content: '';
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 0;
  height: 1px;
  background-color: hsl(286, 26%, 57%);
}

.sidebar-item:last-child::after {
  content: '';
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 0;
  height: 2px;
  background-color: hsl(286, 69%, 40%);
}

.slider-container {
  grid-area: slider;
  padding: 2em;
  margin-bottom: 10em;
}

.slider {
  width: 100%;
  cursor: pointer;
}

.open-img-btn {
  grid-area: button;
  height: fit-content;
  width: fit-content;
  margin: 1em auto 0;
  position: relative;
}

.edit-area-btn {
  margin-left: 1em;
  margin-right: 1em;
}

#canvas-background {
  background-image: linear-gradient(45deg, #808080 25%, transparent 25%),
    linear-gradient(-45deg, #808080 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #808080 75%),
    linear-gradient(-45deg, transparent 75%, #808080 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  padding: 0;
  height: fit-content;
  width: fit-content;
}

@media screen and (max-width: 700px) {
  .main-img {
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 60vw;
    max-height: 60vh;
  }

  .sidebar-item,
  .open-img-btn {
    font-size: small;
  }

  .sidebar {
    height: 100vh;
    margin-bottom: 0;
  }
}
