.generate-img-container {
  grid-template-areas:
    'header'
    'form'
    'showimg';
}

.img-form {
  grid-area: form;
  margin-top: 5em;
  margin-bottom: 5em;
  width: 60vw;
}

.img-head {
  grid-area: header;
  text-align: center;
  margin-bottom: 2em;
}

.form-group {
  margin-bottom: 1em;
}

.show-area {
  grid-area: showimg;
  margin-bottom: 5em;
  height: fit-content;
  width: 60vw;
}

.generated-img {
  display: inline-block;
  margin: 0 auto;
  object-fit: contain;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em;
  width: 100%;
}

