.playground-container {
  grid-template-areas:
    'editarea playground-sidebar'
    'slider playground-sidebar';
}

.canvas-container {
  grid-area: editarea;
  margin: 0 auto;
  margin-top: 3em;
}

.draw-canvas {
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  object-fit: contain;
}

.playground {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playground-sidebar {
  grid-area: playground-sidebar;
  background-color: black;
  height: 100vh;
  position: sticky;
  margin-right: 0;
  padding-right: 0;
}
