.button {
  margin: 1em;
}

.signup-container {
  grid-template-areas:
    'buttons'
    'signin'
    'signup';
}

.buttons {
  grid-area: buttons;
  margin: 0 auto;
  margin-top: 2em;
}

.signin {
  grid-area: signin;
}

.signup {
  grid-area: signup;
}

.signin,
.signup {
  margin: 2em;
  padding: 2em;
  border-radius: 3px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.submit-btn {
  margin-top: 1em;
}
