body {
  background-color: grey;
  font-family: 'Courier New', Courier, monospace !important;
  margin: 0;
  padding: 0;
}

.app {
  padding: 0;
  margin: 0;
}

img {
  -webkit-filter: drop-shadow(2px 2px 2px #222);
  filter: drop-shadow(2px 2px 2px rgb(41, 37, 37));
  width: auto;
  height: auto;
  margin: 1em;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  height: 100vh !important;
  width: 100vw !important;
  max-width: 100vw !important;
  max-height: 100vw !important;
  margin: 0;
  padding: 0;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.colour-picker {
  padding: 3em;
  margin: 3em;
}

.box {
  border: 1px solid rgb(36, 36, 36);
  box-shadow: 1px 1px 8px black;
  background-color: white;
  max-width: 80vw;
  margin: 0 auto;
  margin-top: 3em;
  padding: 2em;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.title {
  margin-bottom: 1em;
  text-shadow: 1px 1px 1px rgb(88, 87, 87);
}

@media screen and (max-width: 700px) {
  .container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    max-height: 100vh;
    max-width: 100vw;
    margin-right: 0;
    padding-right: 0;
  }
}
